
* , *::before, *::after{
  box-sizing: border-box;
  background-color: rgb(206, 74, 177);
  margin: 0;
  padding: 0;
}

body {
    background-color: rgb(206, 74, 177);
}

.nav{
    display: block;
    margin-top: 2rem;
    font-size: 2rem;
    &_title {
           font-family: 'Courier New', monospace;
           font-size: 3rem;
           background-color: rgba(215, 235, 253, 0.74);
           animation: fade-in-right 1.5s forwards;
  }
    &_links {
        animation: fade-in-left 1.5s forwards;
    }
}

.flex {
    &_section {
       display: flex;
       justify-content: space-evenly;
       width: min(100% - 2rem, 1700px);
       margin-inline: auto;
       align-items: center;
       padding: 6rem  0;
       animation: fade-in-right 1.5s forwards;
    }
    &_heading {
       font-family: 'Courier New', monospace;
       font-size: 4rem;
       max-width: 30ch;
    }
    &_image { 
        min-width: 30%;
        img {
           width: 100%;
           height: auto;
    }
    }
}


@media only screen and (min-width: 1100px){
.nav {
display: flex;
justify-content: space-between;
&_title {
    display: inline;
    padding: 1rem 2rem;
}  
&_links {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem 2rem;
}
}
}

@media only screen and (max-width: 1100px) {
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &_title {
           display: block;
           text-align: center;
           padding: 1.5rem;
           margin-bottom: 1.5rem;

        }
        &_links { 
            display: flex;
            flex-direction: column;
            align-items: center;
            & div > a {
                display: block;
                width: 98vw;
                padding-top: 1rem;
                height: 4rem;
                margin-top: 2rem;
            }
        }
    }

    .flex {
        &_section {
            flex-direction: column-reverse;
            align-items: center;
            gap: 1.5rem;
            justify-content: center;
        }
        &_heading {
            text-align: center;
        }
        &_image{ 
            padding: 0 8rem;
            img {
               width: 100%;
               height: auto;
        }
        }
    }
}

@keyframes fade-in-right {
    0% {
      transform: translateX(-20%);
      opacity: 0;
    }
   
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fade-in-left {
    0% {
      transform: translateX(20%);
      opacity: 0;
    }
   
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }